/* all elements inherit css from :root */
:root {
  /* reusable colours */
  --raspberry-pi-grey: #2a3e4f;
  --scarlet-gum: #2f0d43;
  --light-purple: #71458c;
  --sky-blue: #e9f5f6;
  --off-white: #fdf6f5;
  --coderdojo-black: #1a1a1a;

  /* reusable sizes */
  --section-height: 600px;
  --footer-raspberry-pi-promotion-icon-size: 64px;
}
html, body {
  all: unset;
  color: var(--coderdojo-black);
  font-size: 1.2rem;
}

/* reused class */
.content-container {
  max-width: 1200px;
  margin: auto;
  padding: 16px;
}

.login-container {
  background-color: var(--raspberry-pi-grey);
}

.login-button {

}

.header {
  background-color: var(--light-purple);
}

.header-nav {

}

.language-button {

}

/* reused class */
section {
  height: var(--section-height);
}

/* reused class */
.landing-section {
  background-color: var(--scarlet-gum);
  color: white;
}

.volunteer-section {
  background-color: var(--sky-blue);
}

.start-dojo-section {
  background-color: var(--off-white);
}

.contact-section {
  background-color: white;
}

.newsletter-section {
  background-color: var(--scarlet-gum);
  color: white;
  max-height: 200px;
}

.footer {
  background-color: var(--coderdojo-black);
  color: white;
}

/* reused class */
.section-image {
  width: 100%;
  max-height: calc(var(--section-height) * 0.8);
}

/* reused class */
.description-container {
  height: 100%;
  padding-top: 100px;
}

/* reused class */
.grid {
  display: grid;
  column-gap: 100px;
  height: 100%;
}

/* reused class */
.grid-item {
  grid-row: 1;
  min-width: 50%;
  margin: auto;
}

/* reused class */
.grid-right {
  grid-column: 2;
}

/* reused class */
.grid-left {
  grid-column: 1;
}

.footer-raspberry-pi-promotion-icon {
  height: var(--footer-raspberry-pi-promotion-icon-size);
  width: var(--footer-raspberry-pi-promotion-icon-size);
}
