.game-board {
  height: min(80vh, 80vw);
  width: min(80vh, 80vw);
  margin: auto;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
  background-color: black;
  border: 2px solid black;
}

.grid-square {
  height: 100%;
  width: 100%;
  background-color: white;
  font-size: min(26vh, 26vw);
  text-align: center;
}

button {
  margin-bottom: 1rem;
}
